@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Merienda:wght@300..900&family=Parisienne&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    color: black;
    text-decoration: none;
}
img
{
    width: 100%;
}
/* start nav*/
nav{
    width: calc(100% - 120px);
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: red;
}
.catigore {
    
    text-align: center;
}
.products {
    display: flex;
    justify-content: center;
    gap: 40px;
}